*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-color: #0E7886;
    padding: 30px;
  }
  
  .container {
    padding-bottom: 30px;
  }

  .display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .borda{
    border: 3px solid #FF5B61;
    padding: 5px 10px;
  }

  .centro{
    text-align: center;
  }

  .fonte{
    color: white;
  }
  
  .page-title {
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .img-nota{
    width: 150px;
  }